{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messenger</title>
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/x-icon" />
    <link href="{% static 'main.css' %}" rel="stylesheet" />
    <link href="{% static 'lobby.css' %}" rel="stylesheet" />
    <link href="{% static 'sidebar.css' %}" rel="stylesheet" />
    <link href="{% static 'header.css' %}" rel="stylesheet" />
    <link href="{% static 'chat_window.css' %}" rel="stylesheet" />
    <link href="{% static 'footer.css' %}" rel="stylesheet" />
    <link href="{% static 'login.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{% static 'chat.js' %}"></script>
  </head>
  <body>
    <main>{% block body %} {% endblock %}</main>
  </body>
</html>
