{% extends "chat/layout.html" %} 
{% block body %} 
{{ request.user.username|json_script:"current_user" }}

<div class="sidebar">
  <div class="sidebar__current-user">
    {% if request.user.is_authenticated %}
    <img class="profile-picture" src="{{ request.user.profile_picture }}" />
    <span>logged in as <strong>{{ request.user.username }}</strong></span>
    <span id="logout"
      ><strong><a href="{% url 'logout' %}">Logout</a></strong></span
    >
    {% endif %}
  </div>
    <div class="sidebar__add-friend">
        <input
          id="add-friend-input"
          name="friend"
          type="text"
          placeholder="Add Friend"
        />
        <button id="add-friend-submit" type="submit">&#65291;</button>
        <div class="friend-error"></div>
    </div>
  </div>

  <div class="sidebar__friends"></div>
</div>

<div class="chat">
  <div class="chat__header">
    <h2 class="chat__header-name"></div>
  </div>

  <div id="chat__window"></div>

  <div id="chat__footer">
    <div>
      <input
        autofocus
        class="chat__footer-input"
        type="text"
        placeholder="Your message"
      />
      <input class="chat__footer-submit" style="display: none"  type="submit" />
    </div>
  </div>
  {% endblock %}
</div>
