{% extends "chat/layout.html" %}

{% block body %}

<div id="container-login">
    <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email Address">
        <input type="text" name="profile-picture" placeholder="Profile picture URL">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password"><br>
        <input type="submit" value="Register">
    </form><br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div>
        Already have an account? <a href="{% url 'index' %}">Log in here.</a>
    </div>
</div>

{% endblock %}