* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    --bg-1: #1d1716;
    --bg-2: #222831;
    --bg-3: #22313f;
    --bg-4: #1e549f;
    --bubble-1: #393e46;
    --bubble-2: #1e549f;
    --text-1: #eeeeee;
    --text-2: #c8ccd3; 
    --text-3: #1e549f;
}

body {
    color: var(--text-1);
    background-color: var(--bg-1);
}

input {
    padding: 0.5rem 1rem;
    font-family: inherit;
    background-color: var(--bg-2);
    color: inherit;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

input[type="text"]:hover, input[type="password"]:hover {
  background-color: var(--bg-3);
  transition: 0.2s;
}

input[type="text"]:focus {
  background-color: var(--bg-3);
  transition: 0.2s;
}

input[type="submit"]:hover {
  background-color: var(--bg-4);
  transition: 0.2s;
}

input[type="submit"]:active {
  background-color: var(--text-1);
}

img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: var(--bg-2);
  color: var(--text-1);
}

button:hover {
  background-color: var(--bg-1);
}

a {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--text-3);
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}